In [3]:
import os.path
import pandas as pd

In [4]:
in_file = os.path.join(globals()['_dh'][0], "data/wr94019.csv")
fig_dir = os.path.join(globals()['_dh'][0], "fig")

tmp = pd.read_csv(in_file, comment="#", parse_dates= {"DATE" : ["YEAR","MONTH","DAY"]})
tmp.set_index("DATE", inplace=True)
tmp.info()
# display(tmp)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 32508 entries, 1932-01-01 to 2020-12-31
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   WMO_ID         32508 non-null  int64
 1   MIN_AIR_TEMP   29279 non-null  float64
 2   MEAN_AIR_TEMP  29298 non-null  float64
 3   MAX_AIR_TEMP   29279 non-null  float64
 4   PRECIPITATION  29342 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 1.5 MB

### annual PDD amounts:

In [12]:
df = tmp.clip(lower=0)
# display(df)
df = df.resample("A").sum()
display(df.tail())

             WMO_ID  MIN_AIR_TEMP  MEAN_AIR_TEMP  MAX_AIR_TEMP  PRECIPITATION
DATE
2016-12-31  7359162         550.4          821.0        1213.0          796.5
2017-12-31  7339055         453.5          665.6         966.6          563.0
2018-12-31  7339055         393.4          593.5         932.4          705.4
2019-12-31  7339055         428.1          622.1         905.7          382.2
2020-12-31  7359162         518.1          742.7        1084.8          553.1

### mean summer temperature (June-September):

In [20]:
df = tmp.resample("M").mean()
df = df.loc[(df.index.month > 5) & (df.index.month < 10)]
display(df)

            WMO_ID  MIN_AIR_TEMP  MEAN_AIR_TEMP  MAX_AIR_TEMP  PRECIPITATION
DATE
1932-06-30   20107      0.756667       2.133333      4.443333       1.008333
1932-07-31   20107      4.448387       5.693548      7.509677       0.355172
1932-08-31   20107      3.645161       4.845161      6.635484       1.112903
1932-09-30   20107     -1.070000       0.200000      1.906667       0.041667
1933-06-30   20107      0.243333       2.013333      3.933333       0.803333
...            ...           ...            ...           ...            ...
2019-09-30   20107      0.950000       2.543333      4.366667       2.376667
2020-06-30   20107      2.036667       3.516667      5.520000       1.556667
2020-07-31   20107      7.141935       8.945161     11.377419       0.832258
2020-08-31   20107      5.229032       6.896774      9.029032       1.751613
2020-09-30   20107      1.373333       2.690000      4.183333       3.036667

[356 rows x 5 columns]